// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$background_color: #404142;
$border-color: #dddedf;
// Colors
$blue: #3490dc;
